<!DOCTYPE html>
<html>
<head>
  <title>cidade participativa</title>
  <link href="{{ url_for('static',filename='telalogin.css') }}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="image">
      <div class="welcome">
        <p>Juntos construímos uma cidade melhor: participe e faça a diferença!</p>
      </div>
    </div>
    <div class="form">
      <div align="center">
        <img src="{{ url_for('static', filename = 'logo-frente.png') }}" class="image"/>
      </div>
    &nbsp;</p>
      <form method="POST" action="{{ url_for('autenticar') }}">
        <label for="username">Usuário:</label>
        <input class="form-control aumentarTamanho" type="text" name="usuario" placeholder="login" required />

        <label for="password">Senha:</label>
        <input class="form-control" type="password" name="senha" placeholder="senha" required />
        <div align="center">
          <input type="submit" value="Entrar">
        </div>
      </form>
    </div>
  </div>
</body>
</html>